<!--The content below is only a placeholder and can be replaced.-->
<div>
  <span class="button" (click)="show('exponentialStrength')">指数倍增管道：exponentialStrength</span>
  <span class="button" (click)="show('sexReform')">性别判断：sexReform</span>
</div>
<div *ngIf="showContent === 'exponentialStrength'" class="content">
  <span class="title">exponentialStrength:指数倍增，纯管道，将过滤的数值以指数倍增</span>
  <br>
  <label>正常</label>
  <span>{{myNumber}}</span>
  <br>
  <label>加管道</label>
  <span>{{myNumber | exponentialStrength}}</span>
  <br>
  <label>加管道：加参数</label>
  <span>{{myNumber | exponentialStrength:3}}</span>
  <br>
</div>
<div *ngIf="showContent === 'sexReform'" class="content">
  <span class="title">sexReform:判断性别，纯管道，判断过滤的值是男的还是女的，返回中文形式的性别类型</span>
  <br>
  <label>正常</label>
  <span>{{mySex}}</span>
  <br>
  <label>加管道</label>
  <span>{{mySex | sexReform}}</span>
  <br>
  <label>加管道：加参数</label>
  <span>{{mySex | sexReform}}</span>
  <br>
</div>
