<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p *ngIf="true">ngIf=true</p>
  <p *exeUnless="true">*exeUnless="true"</p>
  <p *exeUnless="false">*exeUnless="false"</p>
  <button (click)=showSomethin()>没有防止抖动</button>
  <button appDebounceClick (debounceClick)="showSomethin()" [debounceTime]="1000">
      防止抖动方式一
  </button>
  <button doubleClick2 (click)=showSomethin()>防止抖动方式二</button>
  <h1 prefixHighLight [prefixHighLight]="color">Hello {{name}}</h1>
</div>
<div style="margin-top: 20px;">
  {{info}}
</div>

